
<article class="card employee">
    <h3 class="title is-3">{{firstName}} {{lastName}}</h3>
    <h4 class="title is-4">{{roll}}</h4>
    <ul>
      <li><span>Id: </span>{{id}}</li>
      <li><span>Email: </span><a href="mailto:{{email}}">{{email}}</a></li>
      <li><span>{{additionalInfoLabel}}: </span>{{{additionalInfoValue}}}</li>
    </ul>
</article>