<article>
    <h3>{{firstName}} {{lastName}}</h3>
    <h4><i class="fas {{jobTitleIcon}}"></i>{{roll}}</h4>
    <ul>
      <li>Id: {{id}}</li>
      <li>Email: {{email}}</li>
      {{!-- <li>{{}} {{}}</li> --}}
    </ul>
</article>
